@using by.Reba.Application.Models.Account;

@model LoginVM

@{
    ViewData["Title"] = "Вход";
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-5">
        <div class="p-4 p-md-5">
            <h2 class="mb-4 text-center text-success">Войти</h2>
            <form asp-controller="Account" asp-action="Login" method="post">
                <div class="my-3">
                    <label asp-for="Email" class="form-label text-success">Почта</label>
                    <input type="text" asp-for="Email" class="form-control">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="my-3">
                    <label asp-for="Password" class="form-label text-success">Пароль</label>
                    <input type="password" asp-for="Password" class="form-control">
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

                <div class="form-group pt-3">
                    <button type="submit" class="btn btn-success col-12 px-3">Войти</button>
                </div>
            </form>
            <p class="text-center mt-3">
                Нет аккаунта? 
                <a asp-controller="Account" asp-action="Register" class="text-primary">
                    Зарегистрируйся
                </a>
             </p>
        </div>
    </div>
</div>

@section Scripts 
{
    <script src="~/lib/jquery-validation//dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}