@using by.Reba.Application.Models.Account

@model UserNavigationPreviewVM

@{
    Layout = null;
}

@if (Model is null)
{
    <li class="nav-item">
        <a class="navbar-brand" asp-controller="Account" asp-action="Login">
            <img src="~/login.png" alt="login" height="55px" width="55px" />
        </a>
    </li>
}
else {
    <li class="dropdown">
        <div data-bs-toggle="dropdown" aria-expanded="false">
            <img src="~/@Model.AvatarUrl" alt="avatar" height="50" width="50" class="rounded-circle" />
        </div>

        <ul class="dropdown-menu dropdown-menu-end position-absolute bg-lightgrey">
            <li class="dropdown-item text-success">
                <a asp-controller="Account" asp-action="Details" asp-route-id="@Model.Id">
                    <div class="d-flex justify-content-start gap-2">
                        <img src="~/@Model.AvatarUrl" alt="avatar" height="30" width="30" class="rounded-circle" />
                        <p class="align-self-center m-0">@Model.Nickname</p>
                    </div>
                </a>
            </li>
            <li class="dropdown-item text-success">
                <a asp-controller="Account" asp-action="Edit">
                    <div class="d-flex justify-content-start gap-2">
                        <img src="~/settings.svg" alt="settings" height="30" width="30" class="rounded-circle" />
                        <p class="align-self-center m-0">Настройки</p>
                    </div>
                </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item text-success">
                <a asp-controller="Account" asp-action="SignOut">
                    <div class="d-flex justify-content-start gap-2">
                        <img src="~/logout.png" alt="logout" height="30" width="30" />
                        <p class="align-self-center m-0">Выйти</p>
                    </div>
                </a>
            </li>
        </ul>
    </li>
}

