@using by.Reba.Application.Models.Account

@model UserNavigationPreviewVM

@{
    Layout = null;
}

@if (Model is null)
{
    <li class="nav-item">
        <a class="navbar-brand" asp-controller="Account" asp-action="Login">
            <img src="~/login.png" alt="login" height="55px" width="55px" />
        </a>
    </li>
}
else {
    <li class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @Model.Nickname
        </a>

        <ul class="dropdown-menu dropdown-menu-end position-absolute">
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Details">Обзор</a></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="SignOut" asp-route-id="@Model.Id">Выйти</a></li>
        </ul>
    </li>
}

