<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Panel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/by.Reba.AdminPanel.styles.css" asp-append-version="true" />
</head>
<body>
    <partial name="LayoutHeader"></partial>
    <main role="main" class="container-fluid">
        <div class="row">
            <partial name="AdminNavigation"></partial>
            <div class="col-sm-10 offset-2">
                @RenderBody()
            </div>
        </div>
    </main>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container text-center">
                &copy; @DateTime.Now.Year - Reba.by | сгенерировано @DateTime.Now.ToString("g")
            <br>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
