<header class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <ul class="navbar-nav flex-grow-1">
                <a class="navbar-brand" asp-controller="Article" asp-action="Index">
                    <img src="~/favicon.png" alt="Logo" width="70" height="70">
                    <big>Reba.by</big>
                </a>
            </ul>
            <ul id="login-nav" class="navbar-nav"></ul>
        </div>
    </nav>
</header>
