<footer class="d-flex flex-row border-top footer fixed-bottom bg-secondary">
    <div class="container text-light text-center">
        &copy; @DateTime.Now.ToString("MMMM yyyy") - Reba.by
    </div>
</footer>