<header class="sticky-top mb-3">
    <nav class="navbar bg-warning shadow p-3 rounded">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="~/favicon.png" alt="Logo" width="70" height="70" class="d-inline-block">
                <big id="logo" class="p-2 fs-2 text-danger">Reba.by</big>
            </a>

            <ul id="login-nav" class="navbar-nav"></ul>
        </div>
    </nav>
</header>
