@using by.Reba.Application.Models.Source

@model CreateOrEditPositivityVM

@{
    ViewData["Title"] = "Создать позитивность";
    Layout = "_AdminLayout";
}
<form asp-controller="Positivity" asp-action="Create" method="post">
    <partial name="_CreateOrEditPositivityPartial" model="@Model"></partial>
</form>