@using by.Reba.Application.Models.Comment
@model CreateCommentVM

<form class="card bg-lightgrey m-1 m-md-3" asp-controller="Comment" asp-action="Create" method="post">
    <input type="hidden" asp-for="ArticleId" value="@Model.ArticleId" />
    <input type="hidden" asp-for="ParentCommentId" value="@Model.ParentCommentId" />

    <div class="card-body">
        <textarea type="text" asp-for="Content" class="form-control bg-lightgrey" placeholder="Написать комментарий" onkeyup="resizeTextBox(this)"></textarea>
        <asp:Textbox />
    </div>
    <span asp-validation-for="Content" class="text-danger px-3"></span>

    <div class="card-footer d-flex justify-content-end">
        <button type="submit" class="btn btn-success py-0 px-1 px-md-2 py-md-1">
            <img src="~/reply.png" alt="reply" height="20px" width="20px" />
            Ответить
        </button>
    </div>
</form>