<form class="card m-3" asp-controller="Comment" asp-action="Create" method="post">
    <div class="card-body">
        <textarea type="text flex-shrink-1" name="text" class="form-control" placeholder="Написать комментарий"></textarea>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Ответить</button>
    </div>
</form>