@using by.Reba.Core.DataTransferObjects.Comment
@model CommentDTO

<div class="card m-3">
    <div class="card-header">
        @Model.Author.Nickname @Model.CreationTime.ToString("dd MMMM hh:mm tt")
        <div class="float-end">
            <img src="~/like.svg" alt="like" height="15px" width="15px">
            <span class="ps-1">@Model.Assessment</span>
            <img src="~/dislike.svg" alt="like" height="15px" width="15px">
        </div>
    </div>
    <div class="card-body">
        <p>@Model.Content</p>
    </div>
</div>