@using by.Reba.Application.Models.Article

@model CreateOrEditArticleVM

@{
    ViewData["Title"] = "Создать новость";
    Layout = "_AdminLayout";
}
<form asp-controller="Article" asp-action="Create" method="post">
    <partial name="_CreateOrEditArticlePartial" model="@Model"></partial>
</form>