@using by.Reba.Application.Models.Article

@model CreateOrEditArticleVM

@{
    ViewData["Title"] = "Редактировать новость";
    Layout = "_AdminLayout";
}
<form asp-controller="Article" asp-action="Edit" method="post">
    <partial name="_CreateOrEditArticlePartial" model="@Model"></partial>
</form>