@using by.Reba.Application.Models.Article

@model CreateOrEditVM

@{
    ViewData["Title"] = "Редактировать новость";
}
<form asp-controller="Article" asp-action="Edit" method="post">
    <partial name="_CreateOrEditPartial" model="@Model"></partial>
</form>