@using by.Reba.Application.Helpers
@model HomePageVM

@{
    ViewData["Title"] = "Reba.by";
    if (Model.IsAdmin)
    {
        Layout = "_AdminLayout";
    }
}
<form asp-controller="Article" asp-action="Index" method="get">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">     
            <partial name="Filter" model="@Model.FilterData"></partial>
        </li>
        <li class="nav-item d-flex">
            <input type="search" placeholder="Поиск" name="searchString" class="form-control me-2" value="@Model.SearchString"/>
            <button type="submit" class="btn btn-outline-success">Поиск</button>
        </li>
    </ul>
</form>
<nav class="mt-4">
    <ul class="nav nav-pills nav-fill">


        <li class="nav-item">
            <h3><a asp-controller="Article" asp-action="Index" class="text-black text-decoration-none">Новое</a></h3>
        </li>
        <li class="nav-item">
            <h3><a asp-controller="Article" asp-action="Index" class="text-black text-decoration-none">Самое понравившееся</a></h3>
        </li>
        <li class="nav-item">
            <h3><a asp-controller="Article" asp-action="Index" class="text-black text-decoration-none">Самое обсуждаемое</a></h3>
        </li>
        <li class="nav-item">
            <h3><a asp-controller="Article" asp-action="Index" class="text-black text-decoration-none">Самое позитивное</a></h3>
        </li>
    </ul>
</nav>

<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var article in Model.Articles) {
        <partial name="Preview" model="@article"></partial>
    }
</div>
