@using by.Reba.Application.Models.Source

@model CreateOrEditSourceVM

@{
    ViewData["Title"] = "Создать источник";
    Layout = "_AdminLayout";
}
<form asp-controller="Source" asp-action="Create" method="post">
    <partial name="_CreateOrEditSourcePartial" model="@Model"></partial>
</form>