@using by.Reba.Application.Models.Source

@model CreateOrEditSourceVM

@{
    ViewData["Title"] = "Редактировать источник";
}
<form asp-controller="Source" asp-action="Edit" method="post">
    <partial name="_CreateOrEditSourcePartial" model="@Model"></partial>
</form>