@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (max-width: 575px) {
    #article-preview {
        height: 20vw;
    }
}

@media (min-width: 576px) {
    #article-preview,
    #article-short-summary {
        height: 50%;
    }

    .comment-footer {
        display: none;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
    background-color: lightgrey;
}

.bg-lightgrey {
    background-color: lightgrey;
}

#logo {
    font-family: 'Federo', sans-serif;
    vertical-align: -5px;
}

form .row {
    margin-left: 0;
    margin-right: 0;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #198754;
}

a:hover {
    color: darkgreen;
}

.form-control,
.form-control:focus {
    background-color: lightgray;
    border: 1px solid #198754;
}

.datetime-input {
    background-color: lightgray;
    border: 1px solid lightgrey;
    outline-color: #198754;
}

.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}

.border-success {
    border: 1px solid #198754;
}

.card {
    border: 1px solid #198754;
}

.form-select {
    background-color: lightgray;
    border: 1px solid #198754;
}

.circle-image {
    display: inline-block;
    overflow: hidden;
}

.circle-image img {
    clip-path: circle(50%);
    object-fit: cover;
}

.circle-avatar {
    width: 100%;
    height: 200px;
}

.nav-avatar {
    height: 50px;
    width: 50px;
}

.nav-li-avatar {
    height: 30px;
    width: 30px;
}

.page-link {
    color: #198754;
}

.page-link:hover {
    background-color: #198754;
    color: white;
}

.table,
.table .table-success,
.page-item .page-link {
    border-color: #198754;
}

.page-item:first-child .page-link {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}